/* Start MainCSS */
.pure-g {
    letter-spacing: -.31em;
    *letter-spacing: normal;
    *word-spacing: -.43em;
    text-rendering: optimizespeed;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}

.opera-only :-o-prefocus,.pure-g {
    word-spacing: -.43em;
}

.pure-u {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-g [class*="pure-u"] {
    font-family: sans-serif;
}

.pure-u-1,.pure-u-1-1,.pure-u-1-2,.input-row-half .input-holder,.pure-u-1-3,.password-checker.meter-fail .meter-track,.password-checker-strenght-status,.pure-u-2-3,.password-checker.meter-weak .meter-track,.password-checker-strenght-bar,.pure-u-1-4,.pure-u-3-4,.pure-u-1-5,.pure-u-2-5,.pure-u-3-5,.pure-u-4-5,.pure-u-5-5,.pure-u-1-6,.pure-u-5-6,.pure-u-1-8,.pure-u-3-8,.pure-u-5-8,.pure-u-7-8,.pure-u-1-12,.pure-u-5-12,.pure-u-7-12,.pure-u-11-12,.pure-u-1-24,.pure-u-2-24,.pure-u-3-24,.pure-u-4-24,.pure-u-5-24,.pure-u-6-24,.pure-u-7-24,.pure-u-8-24,.pure-u-9-24,.pure-u-10-24,.pure-u-11-24,.pure-u-12-24,.pure-u-13-24,.pure-u-14-24,.pure-u-15-24,.pure-u-16-24,.pure-u-17-24,.pure-u-18-24,.pure-u-19-24,.pure-u-20-24,.pure-u-21-24,.pure-u-22-24,.pure-u-23-24,.pure-u-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.pure-u-1-12,.pure-u-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-1-8,.pure-u-3-24 {
    width: 12.5%;
    *width: 12.469%;
}

.pure-u-1-6,.pure-u-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-1-5 {
    width: calc(100% / 3);
    *width: 19.969%;
    font-family:"Proxima Nova",sans-serif;
}

.pure-u-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.pure-u-1-4,.pure-u-6-24 {
    width: 25%;
    *width: 24.969%;
}

.pure-u-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.pure-u-1-3,.password-checker.meter-fail .meter-track,.password-checker-strenght-status,.pure-u-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-3-8,.pure-u-9-24 {
    width: 37.5%;
    *width: 37.469%;
}

.pure-u-2-5 {
    width: 40%;
    *width: 39.969%;
}

.pure-u-5-12,.pure-u-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.pure-u-1-2,.input-row-half .input-holder,.pure-u-12-24 {
    width: 50%;
    *width: 49.969%;
}

.pure-u-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.pure-u-7-12,.pure-u-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-3-5 {
    width: 60%;
    *width: 59.969%;
}

.pure-u-5-8,.pure-u-15-24 {
    width: 62.5%;
    *width: 62.469%;
}

.pure-u-2-3,.password-checker.meter-weak .meter-track,.password-checker-strenght-bar,.pure-u-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.pure-u-3-4,.pure-u-18-24 {
    width: 75%;
    *width: 74.969%;
}

.pure-u-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.pure-u-4-5 {
    width: 80%;
    *width: 79.969%;
}

.pure-u-5-6,.pure-u-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-7-8,.pure-u-21-24 {
    width: 87.5%;
    *width: 87.469%;
}

.pure-u-11-12,.pure-u-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.pure-u-1,.pure-u-1-1,.pure-u-5-5,.pure-u-24-24 {
    width: 100%;
}

.pure-g-r,.input-row-half,.password-checker,.password-meter {
    letter-spacing: -.31em;
    *letter-spacing: normal;
    *word-spacing: -.43em;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}

.opera-only :-o-prefocus,.pure-g-r,.input-row-half,.password-checker,.password-meter {
    word-spacing: -.43em;
}

.pure-g-r [class*="pure-u"],.input-row-half [class*="pure-u"],.password-checker [class*="pure-u"],.password-meter [class*="pure-u"] {
    font-family: sans-serif;
}

.pure-g-r img,.input-row-half img,.password-checker img,.password-meter img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 980px) {
    .pure-visible-phone {
        display: none;
    }

    .pure-visible-tablet {
        display: none;
    }

    .pure-hidden-desktop {
        display: none;
    }
}

@media (max-width: 480px) {
    .pure-g-r>.pure-u,.input-row-half>.pure-u,.password-checker>.pure-u,.password-meter>.pure-u,.pure-g-r>[class*="pure-u-"],.input-row-half>[class*="pure-u-"],.password-checker>[class*="pure-u-"],.password-meter>[class*="pure-u-"] {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .pure-g-r>.pure-u,.input-row-half>.pure-u,.password-checker>.pure-u,.password-meter>.pure-u,.pure-g-r>[class*="pure-u-"],.input-row-half>[class*="pure-u-"],.password-checker>[class*="pure-u-"],.password-meter>[class*="pure-u-"] {
        width: 100%;
    }

    .pure-hidden-phone {
        display: none;
    }

    .pure-visible-desktop {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .pure-hidden-tablet {
        display: none;
    }

    .pure-visible-desktop {
        display: none;
    }
}

[class^="icon-"],[class*=" icon-"] {
    font-family: 'icon-font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content:"\e600"
}

.icon-twitter:before {
    content:"\e601"
}

.icon-googleplus:before {
    content:"\e602"
}

.icon-pinterest:before {
    content:"\e603"
}

#colorbox,#cboxOverlay,#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft,#cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay,#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow {
    cursor: pointer;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}

#colorbox,#cboxContent,#cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

#cboxOverlay {
    background: rgba(0,0,0,0.6);
}

#colorbox {
    outline: 0;
}

#cboxContent {
    background: #fff;
}

.cboxIframe {
    background: #fff;
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxLoadedContent {
    margin-bottom: 0;
}

#cboxTitle {
    position: absolute;
    bottom: 4px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #949494;
}

#cboxCurrent {
    position: absolute;
    bottom: 4px;
    left: 58px;
    color: #949494;
}

#cboxLoadingOverlay {
    background: url(images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
    background: url(images/loading.gif) no-repeat center center;
}

#cboxPrevious,#cboxNext,#cboxSlideshow,#cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none;
}

#cboxPrevious:active,#cboxNext:active,#cboxSlideshow:active,#cboxClose:active {
    outline: 0;
}

#cboxSlideshow {
    position: absolute;
    bottom: 4px;
    right: 30px;
    color: #0092ef;
}

#cboxPrevious {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(images/controls.png) no-repeat -75px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}

#cboxPrevious:hover {
    background-position: -75px -25px;
}

#cboxNext {
    position: absolute;
    bottom: 0;
    left: 27px;
    background: url(images/controls.png) no-repeat -50px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}

#cboxNext:hover {
    background-position: -50px -25px;
}

#cboxClose {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    border-radius: 9999px;
    background: #fff;
    color: #333;
    content: "x";
}

#cboxClose:hover {
    background-position: -25px -25px;
}

.cboxIE #cboxTopLeft,.cboxIE #cboxTopCenter,.cboxIE #cboxTopRight,.cboxIE #cboxBottomLeft,.cboxIE #cboxBottomCenter,.cboxIE #cboxBottomRight,.cboxIE #cboxMiddleLeft,.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

.clearfix,.input-row-half,.wrapper {
    zoom: 1;
}

.clearfix:before,.input-row-half:before,.wrapper:before,.clearfix:after,.input-row-half:after,.wrapper:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after,.input-row-half:after,.wrapper:after {
    clear: both;
}

.text-align-center {
    text-align: center;
}

.pull-left,.password-revealer .password-toggle-status,.plans-terms-conditions,.password-checker-strenght-bar,.logo,.main-nav,.footer-copyright p {
    float: left;
}

.pull-right,.password-revealer .password-toggle,.header-actions {
    float: right;
}

.section-hidden {
    display: none !important;
}

.sp,.ico {
    background-image: url(../Images/sprite.png);
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
}

.fa-spin {
    -webkit-animation: spin .4s 1 ease;
    -moz-animation: spin .4s 1 ease;
    -o-animation: spin .4s 1 ease;
    animation: spin .4s 1 ease;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(359deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.05);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(1);
    }

    50% {
        -o-transform: scale(1.05);
    }

    100% {
        -o-transform: scale(1);
    }
}

@-ms-keyframes pulse {
    0% {
        -ms-transform: scale(1);
    }

    50% {
        -ms-transform: scale(1.05);
    }

    100% {
        -ms-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@-moz-keyframes shake {
    0%,100% {
        -moz-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -moz-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -moz-transform: translateX(10px);
    }
}

@-webkit-keyframes shake {
    0%,100% {
        -webkit-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -webkit-transform: translateX(10px);
    }
}

@-o-keyframes shake {
    0%,100% {
        -o-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -o-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -o-transform: translateX(10px);
    }
}

@-ms-keyframes shake {
    0%,100% {
        -ms-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -ms-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -ms-transform: translateX(10px);
    }
}

@keyframes shake {
    0%,100% {
        transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        transform: translateX(10px);
    }
}

.do-shake {
    -webkit-animation: shake 1s ease;
    -webkit-animation-fill-mode: both;
    -moz-animation: shake 1s ease;
    -moz-animation-fill-mode: both;
    -o-animation: shake 1s ease;
    -o-animation-fill-mode: both;
    animation: shake 1s ease;
    animation-fill-mode: both;
}

a,button {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    text-decoration: none;
}

a.action-anchor {
    font-size: 1.375em;
    line-height: 130%;
    display: inline-block;
    color: inherit;
}

a.action-anchor [class*="msicon-"] {
    margin-left: .34em;
    font-size: 1.4em;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    color: inherit;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    border-radius: 9999px;
}

a.action-anchor em {
    font-style: normal;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
    height: 1px;
    margin: 0 0 1px 0;
    border: none;
    border-bottom: 1px solid rgba(127,140,151,0.5);
}

#section-controls {
    position: fixed;
    top: 50%;
    margin-top: -50px;
    right: 40px;
    width: 20px;
    height: 100px;
    z-index: 900;
}

#section-controls a {
    margin: 10px 0;
    display: block;
    width: 20px;
    height: 20px;
}

#section-controls a span {
    display: block;
    width: .56em;
    height: .56em;
    margin: 0 auto;
    border-radius: 9999px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

#section-controls a:hover span,#section-controls a.active span {
    width: .85em;
    height: .85em;
    background: none;
}

#section-controls.controls-dark span {
    border: 1px solid #333;
    background: #333;
}

#section-controls.controls-bright span {
    border: 1px solid #fff;
    background: #fff;
}

::-webkit-input-placeholder {
    color: #7F8C97;
}

:-moz-placeholder {
    color: #7F8C97;
}

::-moz-placeholder {
    color: #7F8C97;
}

:-ms-input-placeholder {
    color: #7F8C97;
}

input,textarea {
    font: 300 1em/120% "Proxima Nova",sans-serif;
    color: #7F8C97;
    padding: .6em .8em;
    border: 1px solid #C0C6CC;
    background: #fff;
    margin: 0;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

textarea {
    resize: none;
}

form .btn {
    margin-top: 1.7em;
}

button,input,textarea {
    display: inline-block;
    outline: none;
}

input:focus,textarea:focus {
    background: #F7F7F7;
}

.input-holder {
    position: relative;
}

.password-revealer {
    width: 80px;
    height: 20px;
    position: absolute;
    right: 2em;
    top: 2.6em;
    cursor: pointer;
}

.password-revealer .password-toggle-status {
    font-size: 13px;
    color: #90c695;
}

.password-revealer .password-toggle {
    position: relative;
    height: 20px;
}

.password-revealer .password-toggle-track {
    width: 32px;
    height: 7px;
    margin-top: 6px;
    border: 1px solid #90c695;
}

.password-revealer .password-toggle-button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    background: #90c695;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.password-revealer .password-toggle-button:after {
    content: "�";
    position: absolute;
    font-size: 180%;
    top: -6px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
}

.password-revealer.toggle-hide .password-toggle-button {
    left: -5px;
}

.password-revealer.toggle-show .password-toggle-button {
    left: 16px;
}

.input-row-half .input-holder:first-of-type {
    padding-right: 10px;
}

.input-row-half .input-holder:last-of-type {
    padding-left: 10px;
}

.input-error input,.input-error textarea {
    border-color: #E4A9AE;
}

.input-error #field-validation {
    color: #C7515A;
}

.input-error label {
    display: none;
}

.input-active label,.input-error #field-validation {
    padding-top: 0;
    line-height: 2.7em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

label {
    font-weight: 400;
    color: #7F8C97;
    display: block;
    height: 2em;
    overflow: hidden;
    line-height: 3em;
    padding: 0 .8em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.btn {
    font: 400 16px/120% "Proxima Nova",sans-serif;
    border: none;
    background: none;
    text-align: center;
    min-width: 6.8em;
    letter-spacing: 0;
    display: inline-block;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    border-radius: 0.4rem;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    cursor: pointer;
}

.btn.btn-xxlarge {
    font-size: 200%;
}

.btn.btn-hollow {
    background: none !important;
}

.btn.btn-hollow.btn-xlarge {
    font-size: 80%;
    line-height: 80%;
    padding: 1.6rem 3.3rem 1.5rem;
}

.btn.btn-hollow.btn-xxlarge {
    font-size: 200%;
}

.btn.btn-default {
    background: #02202f;
    padding: .55rem 1.8rem;
}

.btn.btn-primary {
    font-size: .6875em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 1.2rem 2rem;
    background-color: #5bb5de;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    border-radius: 0.3rem;
}

.btn.btn-primary.btn-hollow {
    color: #5bb5de;
    -webkit-box-shadow: #5bb5de 0 0 0 0.1875em inset;
    -moz-box-shadow: #5bb5de 0 0 0 0.1875em inset;
    box-shadow: #5bb5de 0 0 0 0.1875em inset;
}

.btn.btn-transparent {
    border: 1px solid #fff;
}

.btn.btn-xlarge {
    font-size: 100%;
    line-height: 80%;
    padding: 1.6rem 3.3rem 1.5rem;
}

.form-wrapper {
    position: relative;
    min-height: 10em;
}

.form-response {
    position: absolute;
    top: 3em;
    right: 0;
    bottom: 0;
    left: 0;
    width: 17em;
    height: 6em;
    margin: auto;
    text-align: center;
    display: none;
}

.form-response p {
    font-size: 1.375em;
}

.form-response [class*="msicon-"] {
    font-size: 4em;
    max-width: none;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    border-radius: 9999px;
    margin-bottom: 10px;
}

ul,ol {
    padding: 0;
    margin: 0;
}

.badge {
    text-decoration: none;
    padding: 0 .04em;
    display: inline-block;
    padding: 0 1em;
    text-align: center;
    max-width: 23%;
    vertical-align: top;
}

.badge [class*="msicon-"] {
    font-size: 200%;
    padding: .5em;
}

.badge span {
    display: block;
    font-size: 85%;
    font-weight: 600;
    margin-top: .5em;
}

.badge:first-of-type {
    padding-left: 0;
}

.social-media-nav {
    display: inline;
    height: 100%;
}

.social-media-nav a {
    text-decoration: none;
    color: #999693;
    font-size: 100%;
    padding: 0 .04em;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

.social-media-nav .msicon-twitter:hover {
    color: #4099FF;
}

.social-media-nav .msicon-facebook:hover {
    color: #3B5998;
}

.social-media-nav .msicon-linkedin:hover {
    color: #3040BC;
}

.social-media-nav .msicon-vimeo:hover {
    color: #1AB7EA;
}

.social-media-nav .msicon-pinterest:hover {
    color: #BD2924;
}

.social-media-nav .msicon-flickr:hover {
    color: #F1038A;
}

.social-media-nav.nav-large a {
    font-size: 150%;
}

.social-media-nav.nav-xlarge a {
    font-size: 180%;
}

.social-media-nav.nav-xxlarge a {
    font-size: 250%;
}

body.landf-cyan #main-header,body.landf-cyan body.page-sign-up {
    background-color: #4aaddb;
}

body.landf-cyan #main-footer .footer-socialmedia a[class*="icon-"] {
    color: #5bb5de;
}

body.landf-cyan .btn.btn-primary {
    background-color: #5bb5de;
}

body.landf-green #main-header,body.landf-green body.page-sign-up {
    background-color: #83bf88;
}

body.landf-green #main-footer .footer-socialmedia a[class*="icon-"] {
    color: #90c695;
}
.socialmedia-icons a[class*="icon-"]:hover
{
    color:#74A677 !important;
    }
body.landf-green .btn.btn-primary {
    background-color: #90c695;
}

body.landf-green .btn.btn-primary:hover
{
     background-color: #74A677;
}

body.landf-green.landf-transparent #main-header,body.landf-green.landf-transparent body.page-sign-up {
    background: none;
}

body.landf-orange #main-header,body.landf-orange body.page-sign-up {
    background-color: #f38e59;
}

body.landf-orange #main-footer .footer-socialmedia a[class*="icon-"] {
    color: #f49b6c;
}

body.landf-orange .btn.btn-primary {
    background-color: #f49b6c;
}

body.page-sign-up {
    background-color: #90c695;
}

body.page-sign-up #main-content {
    padding-top: 0;
}

body.page-sign-up strong.link-strong {
    color: #90c695;
}

body.page-sign-up strong.link-strong:hover
{
    color: #74A677 !important;
}

@font-face {
    font-family:'icon-font';src:url("../Content/fonts/signup/icon-font.eot?34lxhi");src:url("../Content/fonts/signup/icon-font.eot?#iefix34lxhi") format("embedded-opentype"),url("../Content/fonts/signup/icon-font.woff?34lxhi") format("woff"),url("../Content/fonts/signup/icon-font.ttf?34lxhi") format("truetype"),url("../Content/fonts/signup/icon-font.svg?34lxhi#icon-font") format("svg");font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'Proxima Nova';src:url("../Content/fonts/signup/proximanova-light-webfont.eot");src:url("../Content/fonts/signup/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"),url("../Content/fonts/signup/proximanova-light-webfont.woff") format("woff"),url("../Content/fonts/signup/proximanova-light-webfont.ttf") format("truetype"),url("../Content/fonts/signup/proximanova-light-webfont.svg#Proxima Nova") format("svg");font-weight:300;font-style:normal;
}

@font-face {
    font-family:'Proxima Nova';src:url("../Content/fonts/signup/signup/proximanova-regular-webfont.eot");src:url("../Content/fonts/signup/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../Content/fonts/signup/proximanova-regular-webfont.woff") format("woff"),url("../Content/fonts/signup/proximanova-regular-webfont.ttf") format("truetype"),url("../Content/fonts/signup/proximanova-regular-webfont.svg#Proxima Nova") format("svg");font-weight:400;font-style:normal;
}

@font-face {
    font-family:'Proxima Nova';src:url("../Content/fonts/signup/proximanova-semibold-webfont.eot");src:url("../Content/fonts/signup/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"),url("../Content/fonts/signup/proximanova-semibold-webfont.woff") format("woff"),url("../Content/fonts/signup/proximanova-semibold-webfont.ttf") format("truetype"),url("../Content/fonts/signup/proximanova-semibold-webfont.svg#Proxima Nova") format("svg");font-weight:600;font-style:normal;
}

@font-face {
    font-family:'Proxima Nova';src:url("../Content/fonts/signup/proximanova-bold-webfont.eot");src:url("../Content/fonts/signup/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"),url("../Content/fonts/signup/proximanova-bold-webfont.woff") format("woff"),url("../Content/fonts/signup/proximanova-bold-webfont.ttf") format("truetype"),url("../Content/fonts/signup/proximanova-bold-webfont.svg#Proxima Nova") format("svg");font-weight:700;font-style:normal;
}

body,.pure-g [class*="pure-u"],.pure-g-r [class*="pure-u"],.input-row-half [class*="pure-u"],.password-checker [class*="pure-u"],.password-meter [class*="pure-u"],.pure-g,.pure-g-r,.input-row-half,.password-checker,.password-meter,[class*="pure-u"] {
    font: 300 16px/120% "Proxima Nova",sans-serif;
}

html,body,button {
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    margin: 0;
}

h2 {
    font-weight: 300;
    font-size: 2.5em;
}

h3 {
    font-weight: 400;
    font-size: 1.75em;
}

#main-content h2,#main-content h3,#main-content h4,#main-content h5,#main-content h6 {
    line-height: 120%;
}

.block-main-header:not(.header-regular) h3 {
    text-transform: uppercase;
    font-size: 1.25em;
    color: #5bb5de;
}

p {
    line-height: 140%;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

html,body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: #96DFDB;
    position: relative;
    z-index: 100;
    color: #333;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    max-width: 75em;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

#main-content {
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-top: 5.5em;
}

.section-sign-up {
    max-width: 43.125em;
    padding: 3.125em;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 5.5em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
}

.section-sign-up hr {
    display: inline-block;
}

.section-sign-up .btn {
    margin-top: 1em;
    width:100%;
}

.section-sign-up .block-main-header p {
    margin: 0;
    text-align:left;
    margin-bottom:10px;
}

.sign-up-plan {
    margin: 3em 0 1em 0;
}

.sign-up-plan .header-regular {
    margin-bottom: 1em;
    text-align:center;
}

.plan-memo {
    margin: .5em 0;
}

.plans-terms-conditions {
    max-width: 50%;
    margin-top: .3em;
    color: #7f8c97;
}

.password-checker {
    margin-top: 17px;
}

.password-checker.meter-fail .meter-track {
    background: #FF7373;
}

.password-checker.meter-fail .password-checker-strenght-status {
    color: #FF7373;
}

.password-checker.meter-weak .meter-track {
    background: #FFB973;
}

.password-checker.meter-weak .password-checker-strenght-status {
    color: #FFB973;
}

.password-checker.meter-strong .meter-track {
    background: #92C996;
    width: 100%;
}

.password-checker.meter-strong .password-checker-strenght-status {
    color: #92C996;
}

.password-checker-strenght-bar {
    height: 5px;
    background: rgba(127,140,151,0.2);
}

.password-checker-strenght-status {
    font-size: 13px;
    padding-left: 8px;
    margin-top: -6px;
    color: rgba(127,140,151,0.5);
}

.password-meter {
    width: 100%;
}

.password-meter .meter-track {
    height: 5px;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

#main-header,body.page-sign-up {
    height: 25em;
    width: 100%;
    padding-top: 1.7em;
    background-image: url(../Content/Images/signup/img/bg-texture-2.png),-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(255,255,255,0.3)), color-stop(100%, rgba(255,255,255,0)));
    background-image: url(../Content/Images/signup/img/bg-texture-2.png),-webkit-radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
    background-image: url(../Content/Images/signup/img/bg-texture-2.png),-moz-radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
    background-image: url(../Content/Images/signup/img/bg-texture-2.png),-o-radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
    background-image: url(../Content/Images/signup/img/bg-texture-2.png),radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
    min-width:1024px;
}

.logo {
    display: block;
    width: 140px;
    height: 34px;
}
.logo img
{
   border:none;
    }

.header-nav {
    font-size: 1.125em;
}

.header-nav li {
    display: inline-block;
}

.header-nav a {
    color: #fff;
    padding: 1rem .8rem;
    font-weight: 400;
}
.header-nav a.active
{
    color:#02202f;
    }
.header-nav a:hover
{
    color: #02202f;    
    }
.main-nav {
    padding: 1.7rem 0 0 2rem;
}

.header-actions {
    padding: 1.7rem 0 0 0;
    font-size: .9375em;
    height:4em;
}

.header-actions .btn {
    display: inline;
}
.header-actions .btn-header
{
   text-transform:uppercase;
    font-size:0.6875em;
    font-weight: 700;
   padding:0.9375rem 2rem;
    }
.btn.btn-default:hover
{
    background:#044160;
    color:#FFF;
}

.header-section {
    text-align: center;
    padding-top: 7em;
    line-height: 3.4em;
}

.header-section h1 {
    font-size: 6.25em;
    text-transform: uppercase;
    color: #fff;
}

.header-section p {
    font-weight: 400;
    font-size: 1.5em;
}
.header-section .subtitle-header
{
    color:#0A3E52;
    }
#main-footer {
    background: #333;
}

#main-footer p {
    margin: 0;
    line-height: inherit;
}

.pre-footer a:not(.btn),.pre-footer p {
    color: rgba(255,255,255,0.6);
}
.footer-copyright a:not(.btn),.footer-copyright p {
    color: rgba(255,255,255,0.6);
}
.pre-footer a:hover
{
    color:#90C695;
}
.pre-footer {
    min-height: 14.0625em;
    background: #404040;
    padding: 2.5em 0;
}

.pre-footer .btn {
    margin-top: 1.7em;
}

.pre-footer li {
    line-height: 1.6rem;
}

.footer-copyright {
    line-height: 4.7em;
}

.footer-socialmedia .footer-list-header {
    padding-right: 1em;
}

.footer-socialmedia a[class*="icon-"] {
    font-size: 130%;
    margin-right: .4rem;
}

.footer-list-header {
    color: #fff;
    font-weight: 400;
}

/* End MainCSS*/

.footer-copyright p a {color: #90c695 !important;}
.footer-copyright p a:hover{color:#74A677 !important;}
.pre-footer li:last-child {margin-bottom: 0.3rem;}

.citypot {display:none}
#field-validation{display:none;font-weight:400;color:#7F8C97;height:2em;overflow:hidden;line-height:3em;padding:0 .8em;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);opacity:1;-webkit-transition:all 0.15s ease;-moz-transition:all 0.15s ease;-o-transition:all 0.15s ease;transition:all 0.15s ease}
.input-error #field-validation{display:block}
.input-error label[for=signup_password]{display:block;font-weight:400;color:#7F8C97;height:2em;overflow:hidden;line-height:3em;padding:0 .8em;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);opacity:1;-webkit-transition:all 0.15s ease;-moz-transition:all 0.15s ease;-o-transition:all 0.15s ease;transition:all 0.15s ease}
.input-error label[for=signup_password]{display:block;color:#C7515A;padding-top:0;line-height:2.7em;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}
/*.input-email-error{border:1px solid #C8515B;}*/
.pre-footer li{overflow:hidden;}

/* Partial of CONGRATS!: Features for modeling the partial an account created */
.reduce-height-header {height: 0;}
.align-title-subtitle {padding-bottom: 3em;}
.align-line {margin-bottom: 0.5em !important;}
.seems {max-width: 100%;}

/* Captcha style */
#recaptcha_secction{ width:100%; float: left; margin: 2em 0; }
.error #recaptcha_widget { border-color: #E4A9AE }
.error #recaptcha_response_field { border-color: #E4A9AE }
.error span { color: #C7515A }
#recaptcha_widget{ width: 455px; border: 1px solid #C0C6CC; margin-top: 0.5em; -webkit-border-radius: 0.4em;-moz-border-radius: 0.4em;-ms-border-radius: 0.4em;-o-border-radius: 0.4em;border-radius: 0.4em;}
#recaptcha_image_back{ background-color: #85C4E4;height: 75px;margin-top: -2px;opacity: 0.2;/*position: absolute;*/width: 330px;}
#recaptcha_image{ margin: 8px; float:left;border-width:1px;border-style:solid;border-color:#D4D4D4;box-sizing: content-box;}
#recaptcha_response_field{ width: 302px; margin: 8px; }
#recaptcha_buttons{width:25px; float:left;margin-left:2px;margin-top:12px;display: block;line-height: 0px;}
#recaptcha_logo{ margin: 17px}
body > iframe { display:none !important; } /* Hack to prevent broke UI due ReCaptcha hidden iframe */

/* -------------------------------------------------------------------------- */

.button-container{text-align:center;height:100%;width:100%;min-height:70px;display:inline-block;margin-top:20px;}
.facebook-fanpage-goto-link{display:inline-block; text-align:center;width:100%;}
.facebook-fanpage-goto-link a {color:#3392CC;font-size:14px;font-weight:bold;}
.facebook-button{height:40px;width:100%;border-radius: 0.3rem;-moz-border-radius: 0.3rem;-webkit-border-radius: 0.3rem;display:inline-block;overflow:hidden;cursor:pointer;background-color:#2447A5;}
.facebook-button-left{width:40px;line-height:34px;height:100%;display:inline-block;float:left;background:url(Images/dashboardIcons.png?rev=69201743805) no-repeat 15px -702px;position:relative;top:3px;}
.facebook-button-right{width:calc(100% - 40px);background-color:#5371BA;color:#fff;font-size:14px;font-weight:bold;line-height:40px;height:100%;display:inline-block;text-shadow: 0 -1px 0px #001F31;}
#FacebookSpinner{display:none; height:90px;}
.facebook-spinner{padding-top: 80px;}

.phone-container{height:0px;width:100%;overflow:hidden;transition:all 0.3s ease 0s;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;}
.phone-container.expanded{height:235px;}
.phone-container input{margin:1% 0;}
.input-error-facebook-holder .input-error-facebook{ border-color: #E4A9AE;}



---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
